.button {
  color: $primary-color;
  padding: 7px 15px;
  border-radius: 25px;
  border: 2px solid $primary-color;
  transition: background 0.8s ease;
}

.button:hover {
  background: $primary-color;
  color: white;
}


