.home-banner-wrapper {
  height: 100vh;
  background-color: $red;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.home-banner-container {
  width: 100vw;
}

.home-banner-content-logo {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);;
  padding-bottom: 70px;
}

.home-banner-content {
  justify-content: center;
  color: #FFF;
  font-weight: lighter;
  font-size: 3rem;
}

.home-banner-middle-item {
  font-size: 100;
  font-style: italic;
  font-size: 3rem;
}
