.home-banner-wrapper {
  height: 100vh;
  background-color: $red;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.home-banner-container {
  width: 100vw;
}

.home-banner-content-header {
  color: #FFF;

  img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);;
  }
}

.home-banner-content {
  display: flex;
  justify-content: space-evenly;
}
