.company-contact-form {
  margin-top: 140px;
  .form-box {
    border: none;
    font-size: 14px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.company-contact-form-field {
  padding: 7px 2px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 20px;
}

.form-field-message {
  border: none;
}

#message {
  height: 60px;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 1px solid #E6E6E6;
}

.submit-button-contact-form {
  margin-top: 20px;
  font-size: 14px;
}

