.company-service-title-container {
  margin-top: 140px;
  width: 100%;
}

.company-services-category-tabs {
  margin-bottom: 100px;
  width: 100%;
  ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    li {

      text-transform: uppercase;
      margin: 0 10px;
      padding-bottom: 20px;
      line-height: 18px;
      a {
        position: relative;
        transition: all 0.5s ease;
        padding: 0 15px;
        i {
          margin-right: 10px;
          position: absolute;
          left: 0px;
          top: 0;
          opacity: 0;
          transition: opacity 0.5s ease;
        }
        &:hover {
          padding-left: 30px;
          padding-right: 0;
          border-bottom: 2px solid #0971c7;
          color: #0971c7;
          i {
            opacity: 1;
          }
        }
      }
    }
  }
}
