<div class="home-banner-wrapper">
  <div class="home-banner-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="home-banner-content-logo">
          <%= image_tag "logo_prov.png" %>
        </div>
        <div class="home-banner-content">
          <div class="row">
            <div class="col-xs-4 col-sm-5">
              <div class="slidingVertical">
                <span>Building</span>
                <span>Powering</span>
                <span>Scaling</span>
                <span>Designing</span>
              </div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <span class="home-banner-middle-item">your </span>
            </div>
            <div class="col-xs-4 col-sm-5">
              <div class="slidingVertical2">
                <span>WebApp</span>
                <span>Brand</span>
                <span>Business</span>
                <span>Projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
