<div class="home-banner-wrapper">
  <div class="home-banner-container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="home-banner-content-header">
          <%= image_tag "logo_prov.png" %>
          <h1>Nakama - Your AppLab</h1>
        </div>
        <div class="home-banner-content">
              <span>Building</span>
              <div class="slidingVertical">
                <span>Web Apps</span>
                <span>eCommerces</span>
                <span>Marketing Campaigns</span>
                <span>Your ideas</span>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
