<div class="container">
  <form action="/">
    <input type="text" placeholder="Your Name or Company Name">
    <input type="text" placeholder="Your Email">
    <input type="text" placeholder="Your Question">
    <input type="submit">
  </form>
</div>
