---
title: NakamApp - Contact
---


<div class="container">
  <form class="company-contact-form" action="/">
    <div class="row">
      <div class="col-md-6">
        <div class="company-contact-form-field">
          <input class="form-box" type="text" name="name" placeholder="Name or Company Name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="company-contact-form-field">
          <input class="form-box" type="text" name="phone" placeholder="Your phone number">
        </div>
      </div>
      <div class="col-md-6">
        <div class="company-contact-form-field">
          <input class="form-box" type="email" name="email" placeholder="Your email">
        </div>
      </div>
      <div class="col-md-12">
        <div class="company-contact-form-field form-field-message">
          <textarea id="message" class="form-box" type="text" name="message" placeholder="Write your message here"></textarea>
        </div>
      </div>
    </div>
    <div class="submit-button-contact-form">
      <input type="submit" value="Send" class= "button">
    </div>

  </form>
</div>
