---
title: Nakama - Your AppLab
---


<div id="home">
  <div class="home-content">
    <%= image_tag "logo44.svg", width: "200" %>
    <p>
      NakamApp - Your AppLab
    </p>
    <p class="about">
      <%= link_to "Meet the Team", "about.html" %>
    </p>
  </div>
</div>
