---
title: Nakama - Your WebApp Lab
---

<div id="home-wrapper">
  <section id="home-banner">
    <%= partial "home-banner" %>
  </section>

  <section id="nakama-services">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div id="nakama-service-wrapper">
            <div class="nakama-service-header">
              <h2>Web Development</h2>
              <h3>Ruby on Rails WebApps, Corporate & Showcase Websites, eCommerce..</h3>
            </div>
            <div class="nakama-service-hover">
              <p>"Model your digital presence"</p>
              <%= link_to "More info", "#" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div id="nakama-service-wrapper">
            <div class="nakama-service-header">
              <h2>Web Development</h2>
              <h3>Ruby on Rails WebApps, Corporate & Showcase Websites, eCommerce..</h3>
            </div>
            <div class="nakama-service-hover">
              <p>"Model your digital presence"</p>
              <%= link_to "More info", "#" %>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
        </div>
        <div class="col-sm-12 col-md-4">
        </div>
      </div>
    </div>
  </section>

  <section id="nakama-about">

  </section>

  <section id="nakama-works">

  </section>

  <section id="nakama-clients">

  </section>

  <section id="home-footer">

  </section>
</div>
